{% extends 'base.html.twig' %}
 {% block title %}Exception{% endblock %}
{% block body %}
    <h1>Upps, coś poszło nie tak, pojawił się błąd !!!</h1>
        <h3>Message : {{ error }}</h3>
{% endblock %}